<h1>Genres</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @genres.each do |genre| %>
      <tr>
        <td><%= link_to genre.name, genre_path(genre) %></td>
        <td>
          <%= link_to 'Edit', edit_genre_path(genre), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', genre_path(genre), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_genre_path, :class => 'btn btn-primary' %>
