<h1>/Genre</h1>

<p>
  <b>Name</b><br>
  <%= @genre.name %>
</p>

<div class="form-actions">
  <%= link_to 'Back', genres_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_genre_path(@genre), :class => 'btn' %>
  <%= link_to 'Delete', genre_path(@genre), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
