.well
  - if permitted_to? :new, :notes
    = link_to t('link.new'), new_note_path, :class => 'btn btn-primary btn-xs'
  - if permitted_to? :index, :notes
    = link_to link_with_icon('download', t('link.download')), notes_path(:format => :xls), :class => 'btn btn-default btn-xs'
