%div.well
  - if permitted_to? :new, :notes
    = link_to t('button.new'), new_note_path, :class => 'btn btn-primary'
  -# if permitted_to? :download, :notes
    -# = link_to link_with_icon('download', t('button.download')), notes_path(:format => :xls), :class => 'btn btn-default'
