<% if permitted_to? :new, :notes %>
    <div class="well">
      <%= link_to t('list.button.new'), new_note_path, :class => 'btn btn-primary' %>
      <a href="#" class="btn btn-danger disabled"><i class="icon-upload"></i><%= t('list.button.upload') %></a>
      <%= link_to "<i class='icon-download'></i>".html_safe + t('list.button.download'), notes_path(:format => :xls), :class => 'btn' %>
    </div>
<% end %>