- if has_search?
  - title t('page.search.title'), false
- else
  - title t("page.#{params[:type]}s.title"), false


- if has_search?
  .well
    .btn-group
      - [:search, :composer, :genre, :period, :language].each do |search_param|
        = clear_search_button search_param

= render 'search', :result => @search[:notes], :filtered => !@search[:evensongs].blank?, :title => t('page.notes.title'), :type => 'note', :scoped => Note.preloaded, :table => 'notes/table'
= render 'search', :result => @search[:evensongs], :filtered => !@search[:notes].blank?, :title => t('page.evensongs.title'), :type => 'evensong', :scoped => Evensong.preloaded, :table => 'evensongs/table'

