<h1>/Period</h1>

<p>
  <b>Name</b><br>
  <%= @period.name %>
</p>

<div class="form-actions">
  <%= link_to 'Back', periods_path, :class => 'btn' %>
  <%= link_to 'Edit', edit_period_path(@period), :class => 'btn' %>
  <% if @period.deletable? %>
      <%= link_to 'Delete', period_path(@period), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
  <% end %>
</div>
