<h1>Language</h1>

<p>
  <b>Name</b><br>
  <%= @language.name %>
</p>

<div class="form-actions">
  <%= link_to 'Back', languages_path, :class => 'btn' %>
  <%= link_to t("form.button.edit"), edit_language_path(@language), :class => 'btn' %>
  <% if @language.deletable? %>
      <%= link_to 'Delete', language_path(@language), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
  <% end %>
</div>
