<h1>/Composer</h1>

<p>
  <b>Name</b><br>
  <%= @composer.name %>
</p>

<div class="form-actions">
  <%= link_to 'Back', composer_path, :class => 'btn' %>
  <%= link_to 'Edit', edit_composer_path(@composer), :class => 'btn' %>
  <% if @composer.deletable? %>
      <%= link_to 'Delete', composer_path(@composer), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
  <% end %>
</div>
