<footer class="footer">
  <%= render :partial => '/shared/google_analytics' %>
  <p>
    <a href="http://ochs.no">OCHS</a>
    |
    <a href="https://github.com/chrissearle/notearkiv"><%= t('footer.github') %></a>
  </p>
</footer>