- if current_user
  = form_tag(typedsearch_path(:type => 'all'), :method => 'get', :class => 'navbar-form navbar-left', :role => 'search') do
    .form-group
      = text_field_tag 'search', params[:search], :class => 'form-control', :id => 'mainsearch', :placeholder => t('link.search'), :data => { :typeahead_link => searchahead_url }
    %button.btn.btn-default{ :type => 'submit' }= t('link.search')
