%ul.nav.navbar-nav.navbar-right
  %li.dropdown
    %a.dropdown-toggle{ :href => "#", :'data-toggle' => 'dropdown' }
      = t('menu.language.current')
      %b.caret
    %ul.dropdown-menu
      %li= link_to t('menu.language.norwegian'), url_for(params.merge(:locale => 'nb'))
      %li= link_to t('menu.language.english'), url_for(params.merge(:locale => 'en'))
