<% title "Welcome" %>

<div class="row">
  <div class="sixteencol last">
    <h2>Welcome to OCHS Music Archive</h2>

    <p>To Add:</p>
    <ul>
      <li>Nav</li>
      <li>User</li>
      <li>Editor</li>
      <li>Admin</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="sixteencol last">
    <h2>Perhaps (think I prefer this one):</h2>
  </div>
</div>

<div class="row boxed">
  <div class="fourcol">
    <h2>Navigation</h2>
  </div>

  <div class="fourcol">
    <h2>User</h2>
  </div>

  <div class="fourcol">
    <h2>Editor</h2>
  </div>

  <div class="fourcol last">
    <h2>Admin</h2>
  </div>
</div>

<div class="row boxed">
  <div class="sixteencol last">
    <h2>Content</h2>
  </div>
</div>

<div class="row">
  <div class="sixteencol last">
    <h2>Or:</h2>
  </div>
</div>

<div class="row boxed">
  <div class="twelvecol">
    <h2>Content</h2>
  </div>

  <div class="fourcol last">
    <h2>Navigation</h2>
    <h2>User</h2>
    <h2>Editor</h2>
    <h2>Admin</h2>
  </div>
</div>
