%h1
  Links

%table.table.table-striped.table-condensed
  %thead
    %tr
      %th
        Title
      %th
        Link
      %th
        Actions
  %tbody>
    - @links.each do |link|
      %tr
        %td= link_to link.title, link_path(link)
        %td= link_to link.title, link.url
        %td
          = link_to t("list.button.edit"), edit_link_path(link), :class => 'btn btn-mini'

= link_to 'New', new_link_path, :class => 'btn btn-primary'
