- if permitted_to? :new, :evensongs
  %div.well
    = link_to t('list.button.new'), new_evensong_path, :class => 'btn btn-primary'
    = link_to link_with_icon("icon-download", t('list.button.download')), evensongs_path(:format => :xls), :class => 'btn'
