.well
  - if permitted_to? :new, :evensongs
    = link_to t('link.new'), new_evensong_path, :class => 'btn btn-primary btn-xs'
  - if permitted_to? :index, :evensongs
    = link_to link_with_icon('download', t('link.download')), evensongs_path(:format => :xls), :class => 'btn btn-default btn-xs'
