- if permitted_to? :authorize, :dropbox
  .well
    = link_to t('link.dropbox.authorize'), authorize_dropbox_index_path, :class => 'btn btn-danger btn-xs'
    = link_to t('link.dropbox.refresh'), url_for(params.merge(:refresh => true)), :class => 'btn btn-default btn-xs'
