/* Type & image presets - optional, not needed */

body {
font-size: 14px;
-webkit-text-size-adjust: none;		/* Stops the iPhone scalling type up */
}

p, ul, ol, blockquote {
}

li {
}

h1 {
font-size: 30px;
}

h2 {
font-size: 20px;
}

h3 {
font-size: 16px;
}